:root {
    --bg: #024FDB;
    --neutral: #F2F2F2;
    --text-grey: #333;
    --text-black: #000;
    --accent: #FFDB47;
    --white-color: #FFF;
    --main-font-famaly: 'Helvetica';
    --accent-gradient: #FDE78D;
    --student-bg: #0550D7;
    --beginner: #D9D9D9;
    --specialist: #2CFFCC;
    --professional: #FFDB47;
    --red: #EB5757;

}